/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: auto;
}


.mat-mdc-snack-bar-container {
    &.success-snackbar {
        --mdc-snackbar-supporting-text-color: #00ff2a;
    }
}

.mat-mdc-snack-bar-container {
    &.error-snackbar {
        --mdc-snackbar-supporting-text-color: #ff4444;
    }
}